:root {
  --button-width: 400px;

  --button-bg: #DD6F24;
  --shadow-bg: #D36415;

  --button-2-bg: #6AD4DD;
  --button-2-shadow: #7AA2E3;
  
  --button-3-bg: #C65BCF;
  --button-3-shadow: #874CCC;
}



.button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  width: var(--button-width);
  max-width: 100%;
  border: 0;
  color: #fff;
  padding-block: 20px;
  cursor: pointer;
  
}

.orange-button {
  background-color: var(--button-bg);
  box-shadow: 
            var(--shadow-bg) 1px 1px 0,
            var(--shadow-bg) 2px 2px 0,
            var(--shadow-bg) 3px 3px 0,
            var(--shadow-bg) 4px 4px 0,
            var(--shadow-bg) 5px 5px 0,
            var(--shadow-bg) 6px 6px 0,
            var(--shadow-bg) 7px 7px 0,
            var(--shadow-bg) 8px 8px 0,
            var(--shadow-bg) 9px 9px 0,
            var(--shadow-bg) 10px 10px 0
            ;
}

.cool-button {
  background-color: var(--button-2-bg);
  box-shadow: 
            var(--button-2-bg) 1px 1px 0,
            var(--button-2-shadow) 2px 2px 0,
            var(--button-2-shadow) 3px 3px 0,
            var(--button-2-shadow) 4px 4px 0,
            var(--button-2-shadow) 5px 5px 0,
            var(--button-2-shadow) 6px 6px 0,
            var(--button-2-shadow) 7px 7px 0,
            var(--button-2-shadow) 8px 8px 0,
            var(--button-2-shadow) 9px 9px 0,
            var(--button-2-shadow) 10px 10px 0
            ;
}

.purple-button {
  background-color: var(--button-3-bg);
  box-shadow: 
            var(--button-3-shadow) 1px 1px 0,
            var(--button-3-shadow) 2px 2px 0,
            var(--button-3-shadow) 3px 3px 0,
            var(--button-3-shadow) 4px 4px 0,
            var(--button-3-shadow) 5px 5px 0,
            var(--button-3-shadow) 6px 6px 0,
            var(--button-3-shadow) 7px 7px 0,
            var(--button-3-shadow) 8px 8px 0,
            var(--button-3-shadow) 9px 9px 0,
            var(--button-3-shadow) 10px 10px 0
            ;
}